#about {
    z-index: 100;
    position: absolute;
    width: 600px;
    height: 244px;
    background: #444;
    color: #EEE;
    text-shadow: 0 -1px 0 #111;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -150px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

#about .logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-top: 2px solid #333;
    border-left: 2px solid #333;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    background: -webkit-linear-gradient(-109deg, hsl(-120,100%,50%), hsl(-120,100%,50%) 13%, hsla(-360,0%,0%,0) 0) -100px 100px,
    -webkit-linear-gradient(71deg, hsl(-120,100%,50%), hsl(-120,100%,50%) 13%, hsla(-360,0%,0%,0) 0) 0 -66px,
    -webkit-linear-gradient(-109deg, hsl(-240,100%,25%), hsl(-240,100%,25%) 13%, hsla(-360,0%,0%,0) 0) -100px 133px,
    -webkit-linear-gradient(71deg, hsl(-240,100%,25%), hsl(-240,100%,25%) 13%, hsla(-360,0%,0%,0) 0) 0 -33px,
    -webkit-linear-gradient(-109deg, hsl(0,100%,50%), hsl(0,100%,50%) 12.5%, hsla(0,0%,0%,0) 0) -100px 167px,
    -webkit-linear-gradient(71deg, hsl(0,100%,50%), hsl(0,100%,50%) 13%, hsla(0,0%,0%,0) 0) 0 0,
    -webkit-linear-gradient(left, hsl(180,100%,50%) 12.5%, hsl(300,100%,50%) 12.5%, hsl(300,100%,50%) 25%, hsl(60,100%,50%) 25%, hsl(60,100%,50%) 37.5%, hsl(0,0%,0%) 37.5%, hsl(0,0%,0%) 50%, hsla(0,0%,0%,0) 50%) 0 0,
    -webkit-linear-gradient(top, hsl(0,100%,50%) 16.666%, hsl(120,100%,25%) 16.666%, hsl(120,100%,25%) 33.333%, hsl(240,100%,50%) 33.333%, hsl(240,100%,50%) 50%, hsla(0,0%,0%,0) 50%) 100px 0,
    -webkit-linear-gradient(right, hsl(180,100%,50%) 12.5%, hsl(300,100%,50%) 12.5%, hsl(300,100%,50%) 25%, hsl(60,100%,50%) 25%, hsl(60,100%,50%) 37.5%, hsl(0,0%,0%) 37.5%) 0 100px;
    background-size: 200px 200px, 200px 200px, 200px 200px, 200px 200px, 200px 200px, 200px 200px, 200px 100px, 100px 200px, 200px 100px;
    background-color: transparent;
}

#about .info {
    position: absolute;
    top: 20px;
    left: 240px;
    right: 20px;
    bottom: 20px;
}

#about .info h2 {
    font-weight: normal;
    font-size: 16px;
    margin-top: 6px;
}

#about .info h3 {
    font-weight: normal;
    font-size: 12px;
    margin-top: 6px;
}

#about .info .scrolling {
    position: absolute;
    top: 105px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), #000 10%, #000 90%,  rgba(0,0,0,0));
}

#about .info .scrolling .content {
    animation: scrolling 32s infinite;
    animation-timing-function: linear;
}

#about .info .scrolling .content dt {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}
#about .info .scrolling .content dd {
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
}

@keyframes scrolling {
	0%   { transform: translateY(140px); }
	100% { transform: translateY(-360px); }
}
