#data {
    position: absolute;
    left: 261px; bottom: 0; right: 221px;
    height: 20px; 
    color: #EEE;
    background-color: rgba(50,50,50,0.9);
    padding: 10px; outline: none;
    transition: all 0.2s linear;
    border: none;
    border-top: 1px solid #444;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    font-family: monaco, monospace;
    overflow-y: scroll;
    font-size: 10px;
    text-shadow: 0 -1px 0 #000;
    z-index: 5;
}
#data:focus {
    height: 160px;
}