#info-panel {
    font-size: 12px;
    position: absolute;
    right: -40px;
    top: 30px;
    bottom: 0;
    overflow: hidden;
    opacity: 0;
    width: 260px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    background: #FFF;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transition: all 0.2s ease-in;
    font-size: 10px;
}

.showInfo #info-panel {
    right: 220px;
    -webkit-transition: all 0.2s ease-out;
    opacity: 1;
}

#info-panel.single .multi {
    display: none;
}

#info-panel.multi .single {
    display: none;
}

#info-panel.single .single {
    display: block;
}

#info-panel.multi .multi {
     display: block;
}

#info-panel.linear .radial-options {
    display: none;
}

#info-panel.radial .linear-options {
    display: none;
}

#info-panel fieldset {
    border: none;
    /*position: relative;*/
    display: -webkit-box;
}

#info-panel legend {
    background: #333;
    padding: 0;
    color: #FFF;
    width: 100%;
}

#info-panel label {
    width: 70px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    text-transform: capitalize;
    vertical-align: top;
    margin-top: 4px;
}
#info-panel label:after {
    content: ':';
}
#info-panel input[type='number'] {
    width: 50px;
    margin: 2px;
    font-size: 10px;
}

#info-panel input[type='checkbox'] {
    margin: 4px;
}

#info-panel select {
    font-size: 10px;
    margin: 2px;
}

#info-panel ul {
    padding: 3px 0 3px 0;
    border-bottom: 1px solid #EEE;
}



#info_layer_opacity_range_helper.active {
    display: block;
    z-index: 100;
}

#info_layer_opacity_range_helper {
    display: none;
    height: 80px;
    position: absolute;
    left: 90px;
    margin-top: -2px; 
    padding: 5px;
    width: 20px;
    background: rgba(255,255,255,0.9);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

#info-panel #info_layer_opacity_range {
    -webkit-appearance: slider-vertical; 
    height: 80px;
    width: 20px;
    cursor: pointer;
}

#info-panel fieldset.colorstops {
    padding-bottom: 30px;
}

#info_gradient_preview {
    height: 30px;
    left: 0; right: 0;
    /*position: absolute;*/
    -webkit-transform: translateZ(1px);
}

.color_stop_preview_back {
    content : '';
    display: block;
    /*position: absolute;*/
    height: 30px;
    left: 0; right: 0;
    background-color : #FFF;
    background-image : -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);
    background-image : -moz-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       -moz-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);
    background-size : 8px 8px;
    background-position : 0 0, 4px 4px;
}

#info_layer_stops {
    -webkit-box-flex: 1;
    overflow-y: scroll;
    padding: 4px;
    font-size: 12px;
    min-height: 60px;
}

#info_layer_stops .colorstop {
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-left: 8px solid #ccc;
    margin-bottom: 2px;
    cursor: move;
    background: #EEE;
}

#info_layer_stops .colorstop .color {
    margin-right: 5px;
}

#info_layer_stops input[type=number] {
    margin-left: 5px;
    width: 50px;
}

#info_layer_stops .colorstop .remove {
    -webkit-appearance: none;
    border: none;
    background: none;
    cursor: pointer;
}

#info_layer_stops .colorstop .remove:after {
    content: '✖';
}


.hsl-adjustment input[type=range] {
    margin: 2px 5px;
    -webkit-transform: translateY(3px);
}

.direction {
    border: 1px dotted #AAA;
    width: 100px;
    height: 100px;
    margin: 10px;
    position: relative;
    display: inline-block;
}

.direction>* {
    background: #FFF;
    position: absolute;
    margin: -6px;
}

.direction input.left {
    left: 0;
}

.direction input.center {
    left: 50px;
}

.direction input.right {
    right: 0;
}

.direction input.top {
    top: 0;
}

.direction input.middle {
    top: 50px;
}

.direction input.bottom {
    bottom: 0;
}

.direction input.manual {
    left: 25px;
    top: 50px;
}

.direction .deg {
    left: 42px;
    top: 47px;
    font-size: 14px;
}

.direction input[type=number] {
    width: 40px !important;
    margin: 0 -2px 0 0 !important;
}