#info-panel {
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 30px;
    bottom: 0;
    overflow: hidden;
    opacity: 1;
    width: 260px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    background: #444;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transition: all 0.2s ease-in;
    font-size: 10px;
    border-right: 1px solid #282828;
}

.showInfo #info-panel .canvas {
    display: none;
}

#info-panel .single,
#info-panel .multi,
#info-panel.single .multi,
#info-panel.multi .single {
    display: none;
}

#info-panel.linear .radial-options, 
#info-panel.radial .linear-options {
    display: none !important;
}

.showInfo #info-panel.single .single,
.showInfo #info-panel.multi .multi {
    display: block;
}

#info-panel.single .color-stops-options {
    -webkit-box-flex: 1;
    position: relative;
}

#info-panel fieldset {
    border: none;
    /*position: relative;*/
    display: -webkit-box;
    background: #444;
    color: #E7E7E7;
    text-shadow: 0 -1px 0 #333;
    font-size: 9px;
    margin-bottom: -1px;
}

#info-panel legend {
    background: #333;
    padding: 0;
    color: #FFF;
    width: 100%;
}

#info-panel label {
    width: 70px;
    display: inline-block;
    text-align: right;
    text-transform: capitalize;
    vertical-align: top;
    margin-top: 4px;
}
#info-panel label:after {
    content: ':';
}
#info-panel input[type='number'] {
    width: 50px;
    margin: 2px;
    font-size: 10px;
}
#info-panel input[type='number']:focus {
    outline: none;
    background: darkgreen;
}

#info-panel input[type='checkbox'] {
    margin: 4px;
}

#info-panel ul {
    padding: 3px 0 3px 0;
    border-bottom: 1px solid #333;
    border-top: 1px solid #555;
}

#info-panel fieldset.colorstops {
    padding-bottom: 30px;
}

.color_stop_view {
    display: table-row;
}

#info_gradient_preview {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform: translateZ(1px);
    border-bottom: 1px solid #333;
}

.color_stop_preview_back {
    width: 30px;
    display: table-cell;
    position: relative;
    background-color : #FFF;
    background-image : -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);
    background-image : -moz-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       -moz-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);
    background-size : 8px 8px;
    background-position : 0 0, 4px 4px;
}

#info-panel #stop-graph {
    background: #444;
    height: 100%;
    overflow: hidden;
    display: table-cell;
}

#info-panel #info_layer_stops {
    height: 100%;
    padding: 0;
    font-size: 10px;
    display: table-cell;
    -webkit-box-orient: vertical;
}

#info_layer_stops .colorstop {
    display: -webkit-box;
    -webkit-box-flex: 1;
    padding: 2px 5px 2px 16px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #666;
    cursor: move;
    background-image: -webkit-repeating-linear-gradient(90deg, #6a6a6a, #6a6a6a 1px, #282828 1px, #282828 2px);
    background-color: #535353;
    background-size: 4px 18px;
    background-position: 5px 3px;
    background-repeat:no-repeat;
    position: relative;
}

#info_layer_stops .colorstop .color {
    margin-right: 5px;
}

#info_layer_stops input[type=number] {
    margin-left: 5px;
    width: 50px;
}

#info_layer_stops .colorstop .remove {
    -webkit-appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 2px 8px 4px 8px;
    border-radius: 4px;
    border: 1px solid transparent;
    position: absolute;
    right: 3px;
    top: 3px;
    line-height: 10px;
}

#info_layer_stops .colorstop .remove:after {
    content: '✖';
    color: #EEE;
    text-shadow: 0 -1px 0 #111;
}

#info_layer_stops .colorstop .remove:active {
    border: 1px solid #272727;
    background: -webkit-linear-gradient(-90deg, #333 1px, #404040 1px,#373737);
}

.direction {
    border: 1px dotted #AAA;
    width: 100px;
    height: 100px;
    margin: 10px;
    position: relative;
    display: inline-block;
}

.direction>* {
    position: absolute;
    margin: -6px;
}

.direction input.left {
    left: 0;
}

.direction input.center {
    left: 50px;
}

.direction input.right {
    right: 0;
}

.direction input.top {
    top: 0;
}

.direction input.middle {
    top: 50px;
}

.direction input.bottom {
    bottom: 0;
}

.direction input.manual {
    left: 25px;
    top: 50px;
}

.direction .deg {
    left: 42px;
    top: 47px;
    font-size: 14px;
}

.direction input[type=number] {
    width: 45px !important;
    margin: 0 -2px 0 0 !important;
}