#info-panel {
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    background: #FFF;
    overflow: hidden;
    min-height: 372px;
    opacity: 1;
}

#info-panel fieldset {
    border: none;
    position: relative;
}

#info-panel legend {
    background: #333;
    padding: 5px;
    color: #FFF;
    width: 100%;
}

#info-panel label {
    width: 90px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    text-transform: capitalize;
}
#info-panel label:after {
    content: ':';
}
#info-panel input[type='number'] {
    width: 50px;
    margin: 2px;
}

#info-panel input[type='checkbox'] {
    margin: 4px;
}

#info-panel input.color {
    width: 80px;
}

#info-panel ul {
    padding: 3px 0 3px 0;
    border-bottom: 1px solid #EEE;
}



#info_layer_opacity_range_helper.active {
    display: block;
}

#info_layer_opacity_range_helper {
    display: none;
    height: 80px;
    position: absolute;
    left: 100px;
    margin-top: -2px; 
    padding: 5px;
    width: 20px;
    background: rgba(255,255,255,0.9);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

#info-panel #info_layer_opacity_range {
    -webkit-appearance: slider-vertical; 
    height: 80px;
    width: 20px;
    cursor: pointer;
}

#info-panel fieldset.colorstops {
    padding-bottom: 30px;
}

#info-panel #info_layer_stops {
    height: 138px;
    overflow-y: scroll;
    padding: 4px;
}

#info-panel .colorstop {
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-left: 8px solid #ccc;
    margin-bottom: 2px;
    cursor: move;
    background: #EEE;
}

#info-panel .colorstop .color {
    margin-right: 5px;
}

#info-panel input[type=number] {
    margin-left: 5px;
}

#info-panel .colorstop .remove {
    -webkit-appearance: none;
    border: none;
    background: none;
    cursor: pointer;
}

#info-panel .colorstop .remove:after {
    content: '❌';
}