#right-bar {
    position: absolute;
    top : 0;
    right: 0;
    width: 260px;
    bottom: 0px;
    border-left: 1px solid #999;
    background: #EEE;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#layers {
    position: absolute;
    top : 24px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px 0 5px 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-y: scroll;
}

#layers .layer {
    display: -webkit-box;
    z-index: 10;
    width: 240px;
    height: 40px;
    background: #FFF;
    margin-bottom: 5px;
    position: relative;
    cursor: -webkit-grab;
    border: 1px solid #333;
    -webkit-border-radius: 2px;
    display: -webkit-box;
    -webkit-box-align: center;
    overflow: hidden;
}

#layers .layer:active {
    cursor: -webkit-grabbing;
}

#layers .layer.selected {
    background: #CCC;
}

#layers .layer .preview {
    position: absolute;
    top: 3px;
    left: 37px;
    border: 1px solid #333;
    width: 32px;
    height: 32px;
    -webkit-transform: translateZ(1px);
}

#layers .layer:before {
    content : '';
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 4px;
    left: 38px;
    background-color : #FFF;
    background-image : -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);
    background-image : -moz-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       -moz-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);

    background-size : 8px 8px;
    background-position : 0 0, 4px 4px;
}

#layers .layer .info .info {
    font-family: "Lucida Grande", sans-serif;
    margin-left: 50px;
    font-size: 10px;
    line-height: 1.4em;
}

#layers .layer .name.info {
    margin-top: 6px;
    font-weight: bold;
    font-size:12px;
}

#layers .layer .enabled {
    display: -webkit-box;
    cursor: pointer;
    margin: 0 0 0 6px;
    height: 24px;
    -webkit-appearance: none;
    width:24px;
    opacity: 1;
    border: 1px solid #333;
}

#layers .layer .enabled:after {
    opacity: 0.15;
    content : '';
    display: block;
    width:22px;
    height: 22px;
    -webkit-background-size: 18px auto;
    background: url(../img/noun_project_421.svg) 50% 50% no-repeat;
}

#layers .layer .enabled:checked:after {
    opacity: 1;
}

#layers .layer .enabled:active:after {
    opacity: 1;
}

#layers .layer .enabled:checked:active:after {
    opacity: 0.15;
}

#layers .ui-sortable-helper {
    opacity: 0.9;
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
    z-index: 200;
}

.header {
    width: 100%;
    height: 24px;
    background: -webkit-linear-gradient(#000, #555 90%);
    color: #EEE;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.header .name {
    display: -webkit-box;
    -webkit-box-flex: 1;
    padding: 4px 10px;
    font-weight: bold;
    text-shadow: 0 -1px 0px #444;
    color: #FFF;
    font-size: 12px;
}

.header>button,
.header>select {
    -webkit-appearance: none;
    padding: 5px;
    width: 30px;
    background: none;
    border: none;
    border-radius: 0;
    border-left: 1px solid #999;
    color: #FFF;
    text-shadow: 1px 1px 1px #111;
    font-weight: normal;
    cursor: pointer;
    margin: 0;
    display: block;
}

.header>*:active {
    background: -webkit-linear-gradient(#444, #999 20%, #777);
    color: #EEE;
    text-shadow: -1px -1px 0px #333;
}

.header>*:focus {
    outline: none;
}


