#right-bar {
    position: absolute;
    top : 30px;
    right: 0;
    width: 220px;
    bottom: 0px;
    border-left: 1px solid #282828;
    background: #444444;
    display: box;
    box-orient: vertical;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.ready #right-bar {
    display: block;
}

#layers {
    position: absolute;
    top : 24px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    display: box;
    box-orient: vertical;
    overflow-y: scroll;
}

#background-props {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    font-size: 11px;
    background: #DDD;
    padding: 2px 10px;
    font-weight: bold;
    border-top: 1px solid #999;
    text-transform: capitalize;
    text-shadow: 0 1px 0 #FFF;
}

#background-props label:after {
    content: ': ';
}

#layers .layer {
    display: box;
    width: 100%;
    height: 40px;
    background: #535353;
    position: relative;
    cursor: -webkit-grab;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    margin-top: -1px;
    box-align: center;
    overflow: hidden;
    text-shadow: 0 -1px 0 #333;
    color: #E7E7E7;
    font-size: 9px;
}

#layers .layer:active {
    cursor: -webkit-grabbing;
}

#layers .layer.selected {
    background: #596678;
}

#layers .layer .preview {
    position: absolute;
    top: 3px;
    left: 37px;
    border: 1px solid #333;
    width: 32px;
    height: 32px;
    transform: translateZ(1px);
}

#layers .layer:before {
    content : '';
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 4px;
    left: 38px;
    background-color : #FFF;
    background-image : -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);
    background-size : 8px 8px;
    background-position : 0 0, 4px 4px;
}

#layers .layer .info .info {
    font-family: "Lucida Grande", sans-serif;
    margin-left: 50px;
    font-size: 10px;
    line-height: 1.4em;
}

#layers .layer .name.info {
    margin-top: 6px;
    font-weight: bold;
    font-size:12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 135px;
    overflow: hidden;
}

#layers .layer .enabled {
    display: box;
    cursor: pointer;
    margin: 0 0 0 6px;
    height: 24px;
    appearance: none;
    width:24px;
    opacity: 1;
    background: #535353;
}

#layers .layer .enabled:after {
    opacity: 1;
    color: #777;
    text-shadow: 0 -1px 0 #444;
    content : '✗';
    display: block;
    width:22px;
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #777 #222 #222 #777;
}

#layers .layer .enabled:checked:after {
    color: #EEE;
    text-shadow: 0 -1px 0 #111;
    content : '✓';
    border-color: #222 #777 #777 #222;
}

#layers .layer .enabled:active:after {
    color: #EEE;
    text-shadow: 0 -1px 0 #111;
    background: #444;
    content : '✓';
    border-color: #222 #777 #777 #222;
}

#layers .layer .enabled:checked:active:after {
    color: #999;
    text-shadow: 0 -1px 0 #111;
    background: #575757;
    content : '✗';
    border-color: #777 #222 #222 #777;
}

#layers .ui-sortable-helper {
    opacity: 0.9;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
    z-index: 200;
}

.header {
    width: 100%;
    height: 22px;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;
    background: -webkit-linear-gradient(#4a4a4a 1px, #3b3b3b 1px, #373737);
    color: #CCC;
    display: box;
    box-orient: horizontal;
    z-index: 400;
}

.header>* {
    border-left: 1px solid #444;
    border-right: 1px solid #282828;
    font-size: 10px;
}

.header .name {
    display: box;
    box-flex: 1;
    padding: 4px 10px;
    font-weight: bold;
    text-shadow: 0 -1px 1px #111;
    line-height: 15px;
    color: #EEE;
}

.header>button {
    appearance: none;
    width: 36px;
    background: none;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    color: #EEE;
    text-shadow: 0 -1px 1px #111;
    font-weight: normal;
    cursor: pointer;
    margin: 0;
    display: block;
    transition: all 0.2s linear;
}

.header>button:active,
.header>button.active {
    transition: all 0 linear;
    border-right: 1px solid #333;
    border-left: 1px solid #282828;
    background-color: rgba(0,0,0,0.3);
    color: #AAA;
    text-shadow: 0 -1px 1px #000;
}

.header>button:focus {
    outline: none;
}


#pattern-presets {
    position: absolute;
    top: 23px;
    left: 25px;
    width: 176px;
    overflow: hidden;
    background: #444;
    z-index: 100;
    padding-bottom: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    border: none;
    transition: all 0.2s linear;
    opacity: 0;
    max-height: 0;
    border-width: 0 1px 1px 1px;
    border-style: none solid solid solid;
    border-color: #555 #333 #333 #555;
    transform: translateZ(2px);
}

#pattern-presets.show {
    max-height: 300px;
    opacity: 1;
}

#pattern-presets>* {
    float: left;
    margin: 5px 0 0 5px;
}

#pattern-presets .preset {
    width: 50px;
    height: 50px;
    border: 1px solid #333;
    cursor: pointer;
}

#pattern-presets .preset:hover {
    border: 1px solid #DD0;
    box-shadow: inset 0 0 5px #DD0;
}

#pattern-presets .trans {
    background-color : #FFF;
    background-image : -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);
    background-size : 8px 8px;
    background-position : 0 0, 4px 4px;
}
