body {
    font-family: "Lucida Grande", sans-serif;
}

* { 
    padding: 0;
    margin: 0;
    list-style: none;
}

#templates {
    display: none;
}

#frame {
    position: absolute;
    left: 0; top: 30px;
    right: 260px;
    bottom: 40px;
    background: #DDD;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -moz-box;
    -moz-box-align: center;
    -moz-box-pack: center;
    overflow: hidden;
}

#frame .back {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    background-color : #FFF;
    background-image : -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);
    background-image : -moz-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       -moz-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);
    background-size : 10px 10px;
    background-position : 0 0, 5px 5px;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

#frame #canvas {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}

#frame #grid {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}

input[type='color'] {
    width: 80px;
    border: 1px solid #333;
    background-color : #FFF;
    background-image : -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);
    background-image : -moz-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       -moz-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);
    background-size : 10px 10px;
    background-position : 0 0, 5px 5px;
    padding: 3px;
    text-shadow: 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF;
}

#right-bar {
    position: absolute;
    top : 0;
    right: 0;
    width: 260px;
    bottom: 0px;
    border-left: 1px solid #999;
    background: #EEE;
}

#right-bar>.top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.2s linear;
}

#right-bar>.bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.2s linear;
    opacity: 0;
    background: #FFF;
}

#right-bar.show-lower>.top {
    bottom: 500px;
}

#right-bar.show-lower>.bottom {
    height: 500px;
    opacity: 1;
}

#right-bar heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 4px;
    background-color: #999;
    color: #EEE;
}



.man_tools {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: aqua;
    padding: 5px;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}





#top-bar {
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    height: 22px;
    font-size: 12px;
    padding: 6px 20px 1px;
    border-bottom: 1px solid #999;
    background: -webkit-linear-gradient(#333, #000);
    background: -moz-linear-gradient(#333, #000);
    color: #EEE;
}

#top-bar>* {
    display: inline-block;
}

#top-bar label {
    font-weight: bold;
    margin-left: 20px;
}

#top-bar label:after {
    content: ':';
}

#top-bar input[type!=color] {
    margin-left: 2px;
    border-radius: 3px;
    border: #CCC;
    padding: 2px 4px;
    background: #999;
}

#top-bar input:focus {
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
    outline: none;
}

#top-bar input[type='number'] {
    width: 50px;
    margin-right: 0;
}