body {
    font-family: "Lucida Grande", sans-serif;
}

#templates {
    display: none;
}

#frame {
    position: absolute;
    left: 0; top: 30px;
    right: 260px;
    bottom: 40px;
    background: #DDD;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    overflow: hidden;
    border-right: 1px solid #999;
}

#frame .back {
    position: relative;
    display: -webkit-box;
    background-color : #FFF;
    background-image : -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       -webkit-linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);
    background-size : 10px 10px;
    background-position : 0 0, 5px 5px;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

#frame #canvas {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}

#frame #grid {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}








#top-bar {
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    height: 22px;
    font-size: 12px;
    padding: 4px 20px;
    border-bottom: 1px solid #999;
    background: -webkit-linear-gradient(#333, #000);
    color: #EEE;
}

#top-bar>* {
    display: inline-block;
}

#top-bar label {
    font-weight: bold;
    margin-left: 20px;
}

#top-bar label:after {
    content: ':';
}

#top-bar input {
    margin-left: 2px;
    border-radius: 3px;
    border: #CCC;
    padding: 2px 4px;
    background: #999;
}

#top-bar input:focus {
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
    outline: none;
}

#top-bar input[type='number'] {
    width: 50px;
    margin-right: 0;
}