#color-picker {
    display: none;
}

.showpicker #color-picker {
    width: 740px;
    height: 200px;
    background: #FFF;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 10px;
    display: block;
    z-index: 200;
}

.showpicker #color-picker .content {
    padding: 20px;
    position: relative;
}

.showpicker #color-picker .pad {
    width: 200px;
    height: 200px;
    border: 2px solid #CCC;
    float: left;
}

.showpicker #color-picker .vpad {
    width: 20px;
    height: 200px;
    border: 2px solid #CCC;
    float: left;
    margin-left: 20px;
}

#color-picker #picker-text {
    padding: 2px;
    margin: 5px;
}

#color-picker .left {
    float: left;
}

#color-picker .right {
    float: left;
}

#color-picker .right>* {
    clear: left;
}

#color-picker .preview {
    display: block;
    margin: 30px 10px 30px 30px;
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid #EEE;
}

#color-picker .preview:before {
    content: 'new';
    top: -1.6em;
    width: 60px;
    text-align: center;
    position: absolute;
}

#color-picker .preview:after {
    content: 'current';
    bottom: -1.6em;
    width: 60px;
    text-align: center;
    position: absolute;
}

#color-picker .grad {
    width: 90px;
    height: 8px;
    border: 1px solid #EEE;
    margin-top: -5px;
    margin-right: -96px;
    margin-left: 10px;
}

#color-picker .preview>*{
    position: absolute;
}
#color-picker .preview>.new {
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
}

#color-picker .preview>.original {
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
}

#color-picker .color-inputs {
    display: box;
    box-orient: horizontal;
    box-align: start;
    position: absolute;
    left: 0; right: 0;
}

#color-picker .color-inputs>ul {
    display: box;
    box-flex: 1;
    box-orient: vertical;
}

#color-picker .color-inputs>ul>li {
    display: box;
    margin-top: 5px;
}

#color-picker label {
    font-weight: bold;
    width: 55px;
    display: inline-block;
    text-align: right;
    margin-top: 4px;
}

#color-picker label:after {
    content: ':';
}

#color-picker button {
    padding: 10px;
    width: 80px;
    margin: 5px;
    display: inline;
}

#picker-hsl-hue-preview {
    background: linear-gradient(0deg,
        hsl(0, 100%, 50%) 0%,
        hsl(30, 100%, 50%) 8.363%,
        hsl(60, 100%, 50%) 16.666%,
        hsl(90, 100%, 50%) 25%,
        hsl(120, 100%, 50%) 33.333%,
        hsl(150, 100%, 50%) 41.333%,
        hsl(180, 100%, 50%) 50%,
        hsl(210, 100%, 50%) 58.333%,
        hsl(240, 100%, 50%) 66.666%,
        hsl(270, 100%, 50%) 75%,
        hsl(300, 100%, 50%) 83.333%,
        hsl(330, 100%, 50%) 91.666%,
        hsl(360, 100%, 50%) 100%
    );
}
.color {
    background-image : linear-gradient(0deg, transparent, transparent),
                       linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC),
                       linear-gradient(45deg, #CCC 25%, transparent 25%, transparent 75%, #CCC 75%, #CCC);
    background-size : 100% 100%, 10px 10px, 10px 10px;
    background-position : 100% 100%, 0 0, 5px 5px;
}